<section class="Todo-section">
    <div class="display-flex">
      <p><%= section_title%></p>
      <p class="Todo-remaining-count"><%=todos.completed.count%>/<%=todos.count%></p>
    </div>
    <ul>
      <li>
      <%todos.each do |todo| %>
        <div style="display: flex">
        <input type="checkbox" /><div style="display: flex">
                <p style="padding-right:7px;"><%=todo.todo_text %><p>
                <p> <%=todo.due_date.to_s(:short)%> </p>
            </div>
        <p class="Todo-remaining-count">overdue</p>
        <div class="Todo-trash-icon">
          <a href="#"
            ><img style="width: 15px; height: 16px" src="trashicon.png"
          /></a>
        </div>
        </div>
       <% end %>
      </li>
     </ul>
</section>